.container {
    border: 5px solid black;
    font-family: 'Karla', sans-serif;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(0, 1fr));
}
.container > * {
    padding: 45px;
  }

.intro {
    background: white;
    grid-column: 1 / 3;
}
  
.subscribe {
    background: hsl(179, 62%, 43%);
}

.why-us {
    background: hsl(179, 62%, 50%);
}

